# dependencies
node_modules/
.pnp
.pnp.*

# next.js
.next/
out/
app/.next/

# turbopack cache
app/.next/cache/

# build artifacts
build/
dist/

# vercel
.vercel/

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env*
!.env.example

# typescript
*.tsbuildinfo
next-env.d.ts
